.list {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}
.outer {
  width: 60%;
  margin: 1rem auto;
  padding: 1rem;
  color: black;
}
.list .title {
  font-weight: bold;
}
.price {
  font-weight: bold;
  color: brown;
}
.display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quantity {
  padding-bottom: 0.5rem;
}
.quantity label{
    font-weight: bold;
}
.quantity input {
  margin-left: 1rem;
  padding-left: 0.25rem;
  width: 45px;
}
.quantity input:focus {
  outline: none;
}